.container {
  display: grid;
  grid-template-columns: 1fr 3fr 7fr;
  grid-template-rows: 6fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: calc(100% - 62px);
  min-height: 700px;
}

h3 {
  color: rgb(146, 204, 214);
  text-decoration: underline;
}

.div1 {
  grid-area: 1 / 1 / 3 / 2;
  border: 1px rgb(99, 150, 196) solid;
}
.div2 {
  grid-area: 1 / 2 / 3 / 3;
  background-color: rgb(247, 247, 247);
  border-top: 1px black solid;
  border-bottom: 1px black solid;
  padding: 0 25px 0 25px;
}
.div3 {
  grid-area: 1 / 3 / 2 / 4;
  border-top: 1px black solid;
  border-right: 1px black solid;
  padding-top: 20px;
  padding-left: 40px;
}
.div4 {
  grid-area: 2 / 3 / 3 / 4;
  border-top: 1px rgb(247, 247, 247) solid;
  border-right: 1px black solid;
  border-bottom: 1px black solid;
}

.div4 input {
  width: 94%;
  background-color: white;
  height: 100px;
  line-height: 100px;
  padding-left: 20px;
  border: 1px rgb(247, 247, 247) solid;
}